@import url("//cdn.web-fonts.ge/fonts/alkdots/css/alkdots.min.css");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chosen {
    transform: scale(1.4);
    transition: .3s;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "ALKDots", sans-serif;
    font-weight: bold;
}